.root {
  li {
    display: inline-block;
    a {
      text-align: center;
      padding: 5px 10px 5px 10px;
      width: 50px;
      height: 30px;
      border: 1px solid #fe5f1e;
      border-radius: 20px;
      line-height: 24px;
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
